/* Fonts */
@font-face {
  font-family: regular;
  src: url('https://cdn.glitch.com/b2bae586-de3c-45ae-9813-5f8ba057f304%2FHelvetica_Regular.woff?v=1632132876527');
}

@font-face {
  font-family: bold;
  src: url('https://cdn.glitch.com/b2bae586-de3c-45ae-9813-5f8ba057f304%2FHelvetica_Heavy.woff?v=1632132876452');
}
