/* Переменные */
:root {
  /* Colors */
  --white-color: #FAFAFA;
  --indigo-color: #00325E;
  --blue-color: #30A6DA;
  --orange-color: #FF9E00;
  --grey-color: #929292;
  --light-grey-color: #EDEDED;
}
